<h1>Weather</h1>

<%= form_for root_path(@location), method: :get do |f| %>
     <!-- show errors if any - these will come from the location model valiation -->
    <% if @location.errors.any? %>
      <div id="error_explanation">
        <h2> Errors Detected:</h2>

        <ul>
        <% @location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <!-- Form fields for user to enter city-->
    <%= label :city, "City:" %><br>
    <%= text_field_tag(:city, @location.city ) %><br>

    <%= label :state, "State:" %><br>
    <%= text_field_tag(:state, @location.state) %><br>

    <%= label :country, "Country:" %><br>
    <%= text_field_tag(:country, @location.country) %><br>

    <!-- note: this will not be used in the weather lookup but will be used as a cache key -->
    <%= label :zip, "Zip:" %><br>
    <%= text_field_tag(:zip, @location.zip) %><br>
    </br>
    <%= submit_tag("Get My Weather") %>
<% end %>

<!-- Show the weather if it is present -->
<% if @weather.present? %>
    <h2>Weather for <%= @weather.city %></h2>
    <ul>
        <li>Cached?: <%= @cache_hit %></li>
        <li>Current Temperature: <%= @weather.temperature %></li>
        <li>High: <%= @weather.high_temperature %></li>
        <li>Low: <%= @weather.low_temperature %></li>
    </ul>
<% end %>
