<h1>Weather</h1>

<%= form_for root_path(@location), method: :get do |f| %>
    <% if @location.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@location.errors.count, "error") %> Errors Detected:</h2>

        <ul>
        <% @location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= label :city, "City:" %><br>
    <%= text_field_tag(:city, @location.city ) %><br>

    <%= label :state, "State:" %><br>
    <%= text_field_tag(:state, @location.state) %><br>

    <%= label :country, "Country:" %><br>
    <%= text_field_tag(:country, @location.country) %><br>

    <%= label :zip, "Zip:" %><br>
    <%= text_field_tag(:zip, @location.zip) %><br>
    </br>
    <%= submit_tag("Get My Weather") %>
<% end %>

<% if @weather.present? %>
    <ul>
        <li>Cached?: <%= @cache_hit %></li>
        <li>Current Temperature: <%= @weather.temperature %></li>
        <li>High: <%= @weather.high_temperature %></li>
        <li>Low: <%= @weather.low_temperature %></li>
    </ul>
<% end %>
